@media screen and ( max-width : 360px ) {

  .drinkid-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 20px;
  }

  .drinkid-container h1 {
    text-align: center;
  }

  .drinkid-container img {
    height: 200px;
    margin: 10px;
    width: 200px;
  }

  .drinkid-container p {
    text-align: center;
  }
}
