@media screen and (max-width : 360px) {
  .foodid-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .foodid-container img {
    height: 200px;
    width: 280px;
    margin: 10px;
  }

  .foodid-container h1 {
    text-align: center;
  }

  .foodid-container p {
    text-align: center;
  }

}