@media screen and ( max-width : 360px ) {

  .foodid-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .foodid-container img {
    height: 200px;
    margin: 10px;
    width: 280px;
  }

  .foodid-container h1 {
    text-align: center;
  }

  .foodid-container p {
    text-align: center;
  }

}
