@media screen and ( max-width : 360px ) {

  .logo-image {
    background-image: url('../images/food-logo.png');
    background-position: auto;
    background-size: cover;
    height: 360px;
  }

  .bg-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
  }

  .card-login {
    align-items: center;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .card-login button {
    background-color: orangered;
    border: 2px solid black;
    border-radius: 25px;
    width: 175px;
  }

  .card-login label {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

}

@media screen and ( min-width : 361px ) {

  .logo-image {
    background-image: url('../images/food-logo.png');
    background-position: auto;
    background-size: cover;
    height: 51vh;
    width: 480px;
  }

  .bg-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
  }

  .card-login {
    align-items: center;
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .card-login button {
    background-color: orangered;
    border: 2px solid black;
    border-radius: 25px;
    width: 175px;
  }

  .card-login label {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

}
