@media screen and (max-width : 360px) {
  .logo-image {
    height: 360px;
    background-image: url("../images/food-logo.png");
    background-position: auto;
    background-size: cover;
  }

  .bg-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
  }

  .card-login {
    background-color: rgb(150, 150, 150);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-login button {
    border-radius: 25px;
    border: 2px solid black;
    background-color: orangered;
    width: 175px;
  }

  .card-login label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (min-width : 361px) {
  .logo-image {
    height: 51vh;
    width: 480px;
    background-image: url("../images/food-logo.png");
    background-position: auto;
    background-size: cover;
    /* background-repeat: no-repeat; */
  }

  .bg-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
  }

  .card-login {
    background-color: rgb(150, 150, 150);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-login button {
    border-radius: 25px;
    border: 2px solid black;
    background-color: orangered;
    width: 175px;
  }

  .card-login label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}