@media screen and (max-width : 360px) {
  .card-foods img {
    height: 100px;
    width: 130px;
    border-radius: 25px;
    margin: 15px;

    box-shadow: 5px 2px 10px black;
  }

  .card-foods h4 {
    text-align: center;
    
  }

}

@media screen and (min-width : 361px) {
  .card-foods {
    margin: 0 10px 0 10px;

  }

  .card-foods img {
    height: 100px;
    width: 130px;
    border-radius: 25px;
    margin: 15px;

    box-shadow: 5px 2px 10px black;
  }

  .card-foods h4 {
    text-align: center;
    
  }
}