@media screen and ( max-width : 360px ) {

  footer {
    background-color: rgb(235, 235, 235);
    bottom: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
  }

  footer input {
    height: 30px;
    width: 30px;
  }
}

@media screen and ( min-width : 361px ) {

  footer {
    background-color: rgb(235, 235, 235);
    border-radius: 0 0 10px 10px;
    bottom: 40px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 480px;
  }

  footer input {
    height: 30px;
    width: 30px;
  }

}
