@media screen and (max-width : 360px) {
  header {
    background-color: rgb(235, 235, 235);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;

    width: 100vw;

  }

}

@media screen and (min-width : 361px) {
  header {
    background-color: rgb(235, 235, 235);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;

    width: 480px;

    border-radius: 10px 10px 0 0;

  

  }

  ::-webkit-scrollbar {
    width: 0;
  }
}