@media screen and (max-width : 360px) {
  .principal-app {
    background-color: rgb(215, 215, 215);
  }

}

@media screen and (min-width : 361px) {
  .bg-image {
    background-image: url("./images/bg-image.webp");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;
  }

  .blank-bg {
    background-color: rgba(255, 255, 255, 0.527);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: absolute;

  }

  .app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .principal-app {
    background-color: rgb(215, 215, 215);
    height: 90vh;
    width: 480px;
    overflow: scroll;
    border-radius: 10px;

    box-shadow: 15px 10px 30px black;
    position: absolute;
  }
}