* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.blank-bg {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.bg-image {
  background-image: url('./images/bg-image.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  width: 100vw;

}

.principal-app {
  align-items: center;
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
  box-shadow: 15px 15px 30px black;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 480px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
