@media screen and ( max-width : 360px ) {

  .principal-app {
    background-color: rgb(215, 215, 215);
  }

}

@media screen and ( min-width : 361px ) {

  .bg-image {
<<<<<<< HEAD
    background-image: url('./images/bg-image.webp');
=======
    background-image: url("./images/bg-image.webp");
>>>>>>> 507affac1ca174477c9adc32ceac47b55349600b
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;
  }

  .blank-bg {
    background-color: rgba(255, 255, 255, 0.527);
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100vw;

  }

  .app-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  .principal-app {
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    box-shadow: 15px 10px 30px black;
    height: 90vh;
    overflow: scroll;
    position: absolute;
    width: 480px;
  }
}
